<h1 class="title">
    YouTube Channel Notes
</h1>

<div>
    <label>Enter YouTube Channel ID</label>
    <form [noValidate]="false" style="display: inline-block;">
        <input required [(ngModel)]="channelId" type="text" [ngModelOptions]="{standalone: true}">
        <button type="submit" (click)="fetchVideos()">Fetch/Refresh</button>
    </form>

    <div>
        <label>ex: UCz4tgANd4yy8Oe0iXCdSWfA</label>
    </div>

    <div *ngIf="error$ | async" class="error">
        An error occurred. Please try again.
    </div>
</div>

<div>
    <h4>Videos (You can reorder the videos, long press to be able to drag it.)</h4>
</div>

<div id="sortableElement" #sortableElement *ngIf="!(loading$ | async) && !(error$ | async)" style="text-align: center;">
    <div *ngFor="let video of videos$ | async" [attr.data-id]="video.id" style="display: inline-block;">
        <!-- Display video details -->
        <app-video-card class="my-handle" (editCLicked)="toggleEditMode(video.id)"
            *ngIf="!isVideoEditModeEnabled(video.id)" [video]="video" style="display: inline-block;">
        </app-video-card>

        <!-- Video note editing -->
        <app-video-note-form *ngIf="isVideoEditModeEnabled(video.id)" (saved)="editVideoNote(video.id, $event)"
            (canceld)="toggleEditMode(video.id)" [video]="video" style="display: inline-block;">
        </app-video-note-form>

    </div>

    <!-- Sorting logic here, if needed -->
</div>

<div *ngIf="loading$ | async" class="loading">
    Loading...
</div>