<h1 class="title">
    YouTube Channel Notes
</h1>

<div>
    <label>Enter YouTube Channel ID</label>
    <form [noValidate]="false" style="display: inline-block;">
        <input required [(ngModel)]="channelId" type="text" [ngModelOptions]="{standalone: true}">
        <button type="submit" (click)="fetchVideos()">Fetch/Refresh</button>
    </form>

    <div>
        <label>ex: UCz4tgANd4yy8Oe0iXCdSWfA</label>
    </div>

    <div>
        <label *ngIf="error" style="color: red;">An error accourd. Try again!</label>
    </div>
</div>

<div>
    <h4>Videos (You can reorder the videos, long press to be able to drag it.)</h4>
</div>

<hr>

<div style="text-align: center;">
    <app-video-card *ngFor="let video of videos" style="display: inline-block;" [video]="video"></app-video-card>
</div>