.title {
    color: #c00;
}

.loading {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.blue-background-class {
    background-color: #C8EBFB;
}

.grid-square {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: red;
}

.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}

.ghost {
    opacity: 0.4;
}